.item-original {
  grid-row: span 1;
}

.item-small {
  grid-row: span 2;
}

.item-medium {
  grid-row: span 3;
}

.item-rect-left {
  grid-column: 1/3;
  grid-row-end: span 2;
}

.item-rect-right {
  grid-column: 3/5;
  grid-row: span 2;
}

.item-rect-middle {
  grid-column: 2/4;
  grid-row-end: span 2;
}

.item-full {
  grid-column: 1/5;
  grid-row-end: span 3;
}
