* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace;
  scroll-behavior: smooth;
}

body {
  cursor: url("./fav_mini.png"), auto;
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 3rem;
}

.area {
  background: rgb(0,0,0);
  background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(13,13,13,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(13,13,13,1) 100%);
  background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(13,13,13,1) 100%);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 1.5rem;
  height: 1.5rem;
  animation: animate 25s linear infinite;
  bottom: -10rem;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 5rem;
  height: 5rem;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 1rem;
  height: 1rem;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 1.25rem;
  height: 1.25rem;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 4rem;
  height: 4rem;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 1.5rem;
  height: 1.5rem;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 6rem;
  height: 6rem;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 8rem;
  height: 8rem;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 1rem;
  height: 1rem;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 1rem;
  height: rem;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 10rem;
  height: 10rem;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-60rem) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.card {
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card:hover {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
}

.home-page-block {
  background-image: url("./home/bulikrumpli.jpg");
  background-size: cover;
  background-position: center;
  z-index: 10;
  cursor: pointer;
}

.home-page-block:hover {
  background-image: url("./home/bulikrumpli.gif");
}

.home-page-block:nth-child(odd) {
  grid-column: 1/3;
}

.home-page-block:nth-child(even) {
  grid-column: 2/4;
}

.z-index-minus-1 {
  z-index: -1;
}

.home-page-block:hover .tooltip {
  display: block;
}

.tooltip {
  display: none;
  margin-left: 0;
  position: absolute;
  z-index: 20;
  font-size: 4rem;
  color: #fff;
  mix-blend-mode: difference;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 900;
}

.slick-slider .slick-prev {
  left: 1.5rem;
}

.slick-slider .slick-next {
  right: 1.5rem;
}

.slick-slider .slick-next,
.slick-slider .slick-prev {
  z-index: 10;
  width: 1.5rem;
  height: 1.5rem;
}

.slick-slider .slick-next:before,
.slick-slider .slick-prev:before {
  font-size: 1.5rem;
}

.ReactModal__Overlay--after-open {
  z-index: 50;
  background-color: rgba(255,255,255,0.1) !important;
}

.item-original {
  grid-row: span 1;
}

.item-small {
  grid-row: span 2;
}

.item-medium {
  grid-row: span 3;
}

.item-rect-left {
  grid-column: 1/3;
  grid-row-end: span 2;
}

.item-rect-right {
  grid-column: 3/5;
  grid-row: span 2;
}

.item-rect-middle {
  grid-column: 2/4;
  grid-row-end: span 2;
}

.item-wide-left {
  grid-column: 1/4;
  grid-row-end: span 2;
}

.item-wide-right {
  grid-column: 2/5;
  grid-row-end: span 2;
}

.item-full {
  grid-column: 1/5;
  grid-row-end: span 3;
}

iframe {
  width: 100%;
}